

   :root {
     --color-primario: black;
     --color-primario-fondo: #ff0080;
     --color-contenido: black;
     --color-contenido-fondo: white;
     --color-active: #4646462c;
     --font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
     color: var(--color-contenido);
     background-color: var(--color-contenido-fondo);
     font-family: var(--font-family);
   }

   body {
     margin: 0;
   }
   nav {
     position: fixed;
     left: 0;
     right: 0;
     bottom: 0;
   }

   nav ul {
     color: var(--color-primario);
     background-color: var(--color-primario-fondo);
     display: flex;
     list-style-type: none;
     justify-content: center;
     align-items: stretch;
     margin: 0;
     padding: 0;
   }

   nav ul li a {
     display: block;
     color: var(--color-letra-primario);
     font-size: 0.75rem;
     text-decoration: none;
     padding: 0.5rem 0.75rem 0.75rem 0.75rem;
     text-align: center;
   }

   nav li a span.material-icons {
     display: block;
     margin-left: auto;
     margin-right: auto;
   }

   nav ul li a:active {
     background-color: var(--color-active);
   }
   h1{
text-align:center;

font-size: 800%;
      }

